body {
    background-image: url("../images/AutoMechanicBG.jpg");
    /*image from https://www.dickysdoghouse.com/post/the-5-most-important-tools-for-a-mechanic*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #1d2a35;
   
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 72px;
    color: aliceblue;
    text-align: center;
 
}


legend{
    text-align: center;
}

form{
    margin: auto;
    width: 400px;
    background-color:rgba(255, 255, 255, 0.838) ;
    border-radius: 4px;
    padding: 5px;
    border-bottom:10px inset gold;
}


.roundBox{
    display: flex;
    justify-content: center;
    margin: 25px 50px 50px 50px;
}
.input{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 3px solid silver;
    margin-bottom: 20px;
  
}

.input:focus{
    outline: none;
    border: 3px solid gold;
}
 button{
    
    background-image:linear-gradient(to right,silver,white) ;
}
.centerImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}
.heading{
    font-family:Geneva, Tahoma, sans-serif;
    color: #1d2a35;
    font-size: 20px;
}
.text{
    color: lightslategrey;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 14px;
}

body{
    font-family: Verdana, Tahoma, sans-serif;
}


